<h2>Playground</h2>

<nav>
  <ul>
    <li><a ui-sref="playground.directives">directives</a></li>
    <li><a ui-sref="playground.dialogs">dialogs</a></li>
    <li><a ui-sref="playground.images">images</a></li>
  </ul>
</nav>

<article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid atque beatae culpa exercitationem non
  nostrum nulla optio reprehenderit voluptatibus. Architecto consequatur laboriosam possimus ut. Amet dolores iste
  molestias repellendus!
</article>
<div class="row">
  <article class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos hic illum ipsam magni neque
    nisi, perspiciatis praesentium quibusdam quod saepe sequi! Alias corporis dolorem ipsam odio odit recusandae
    voluptatem.
  </article>
  <article class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos hic illum ipsam magni neque
    nisi, perspiciatis praesentium quibusdam quod saepe sequi! Alias corporis dolorem ipsam odio odit recusandae
    voluptatem.
  </article>
  <article class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos hic illum ipsam magni neque
    nisi, perspiciatis praesentium quibusdam quod saepe sequi! Alias corporis dolorem ipsam odio odit recusandae
    voluptatem.
  </article>
</div>