<div class="unhandled-error">
  <h2>Error</h2>

  <h3 bindonce bo-text="message"></h3>

  <span>Please, try to:</span>
  <ol class="help">
    <li>Perform operation again.</li>
    <li>Contact our <a href="mailto:admin@domain.com">support centre</a>.</li>
  </ol>

  <div class="debug-info" bindonce ng-if="showDebug">
    <p bo-if="url && method"><strong>Request:</strong> {{ method + ' ' + url }}</p>
    <p bo-if="status"><strong>Response:</strong> {{ status + ' ' + statusText }}</p>

    <h3 bo-text="exceptionType + ':'" bo-if="exceptionType"></h3>
    <pre bo-text="stackTrace" bo-if="stackTrace"></pre>
  </div>

</div>